<div class="row">
  <div class="col-auto">
    <button class="btn btn-sm btn-outline-info" data-bs-toggle="modal" data-bs-target="#qr-code">
      <i class="bi bi-qr-code"></i>
    </button>
    <div id="qr-code" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">This QR code points to your page</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= image_tag "https://chart.googleapis.com/chart?cht=qr&chs=500x500&chl=#{public_page_url(page)}", class: 'img-thumbnail mx-auto' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-auto">
    <%= link_to public_page_url(page), class: 'btn btn-sm btn-outline-info', target: :_blank do %>
      <span><%= "page.digital#{public_page_path(page)}" %></span>
      <i class="bi bi-box-arrow-up-right"></i>
    <% end %>
  </div>

  <div class="col text-lg-end">
    <%= link_to 'Share', public_page_url(page), class: 'btn btn-sm btn-outline-info disabled' %>
  </div>
</div>