<div class="row">
  <div class="col-auto">
    <button class="btn btn-sm btn-secondary border border-dark" data-bs-toggle="modal" data-bs-target="#qr-code-modal">
      <i class="bi bi-qr-code"></i>
    </button>
    <%= render 'components/qr_modal', modal_title: 'This QR code points to your page', page: @page %>
  </div>

  <div class="col-auto">
    <%= link_to public_page_url(page), class: 'btn btn-sm btn-secondary border border-dark', target: :_blank do %>
      <span><%= "page.digital#{public_page_path(page)}" %></span>
      <i class="bi bi-box-arrow-up-right"></i>
    <% end %>
  </div>

  <div class="col text-lg-end">
    <%= link_to 'Share', public_page_url(page), class: 'btn btn-sm btn-secondary border border-dark disabled' %>
  </div>
</div>