<div class="row">
  <div class="col-auto">
    <button class="btn btn-sm btn-outline-info">
      <i class="bi bi-qr-code"></i>
    </button>
  </div>

  <div class="col-auto">
    <%= link_to page_url(page), page, class: 'btn btn-sm btn-outline-info' %>
  </div>

  <div class="col text-lg-end">
    <%= link_to 'Share', page, class: 'btn btn-sm btn-outline-info' %>
  </div>
</div>