<div id="qr-code-modal" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= modal_title %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= image_tag "https://chart.googleapis.com/chart?cht=qr&chs=500x500&chl=#{public_page_url(page.slug)}", class: 'img-thumbnail mx-auto' %>
      </div>
    </div>
  </div>
</div>