.cursor-grab {
  cursor: grab;
}

.sortable-ghost {
  opacity: 0.4;
}

.container {
  &-md {
    @include make-container(0);
    max-width: map-get($container-max-widths, 'md');
  }
  &-lg {
    @include make-container(0);
    max-width: map-get($container-max-widths, 'lg');
  }
}

.card {
  &.card-hover:hover {
    background-color: rgba(var(--bs-primary-rgb), 0.05) !important;
  }
  &.card-shadow {
    box-shadow: $box-shadow;
  }
  &.border-highlight {
    border-color: rgba(var(--bs-primary-rgb), 0.5);
  }
}

.schema {
  &-light {
    --bs-bg-opacity: 1;
    --bs-text-opacity: 1;
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
  }
  &-dark {
    --bs-bg-opacity: 1;
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  }
}