<main class="card card-shadow">
  <div class="card-body">
    <div class="d-flex flex-column gap-3">
      <div class="title">
        <div>
          <h1 class="h5 m-0"><%= @page.page_profile.display_name %></h1>
          <div class="text-muted">@<%= @page.slug %></div>
        </div>
      </div>
      <div>
        <%= @page.page_profile.description %>
      </div>
      <% unless @page.page_profile.location.blank? %>
        <div class="text-muted">
          <i class="bi bi-geo-alt-fill"></i>
          <span><%= @page.page_profile.location %></span>
        </div>
      <% end %>
    </div>
  </div>
</main>