<footer class="d-flex justify-content-between small mt-3 px-md-0 container-sm opacity-50">
  <a href="#">Terms</a>
  <a href="#">Privacy</a>
  <%= link_to 'Contact', 'mailto:contact@page.digital' %>
  <%= link_to 'Page.digital', root_url %>
</footer>