<div class="wrap vh-100">
  <div class="wrap-inner">
<!--    navigation bar-->
    <nav class="navbar navbar-dark bg-transparent">
      <div class="container justify-content-center">
        <a class="navbar-brand" href="#">Page.digital</a>
      </div>
    </nav>
<!--    page content-->
    <div class="container">
      <div class="profile">
        <div class="profile-panel">
<!--          page header space-->
          <div class="profile-panel-header"></div>
<!--          page header menu-->
          <div class="profile-panel-menu">
            <div class="profile-image"></div>
            <div class="profile-panel-actions"></div>
          </div>
        </div>
      </div>
      <div class="main-content">
        <div class="about"></div>
        <div class="content"></div>
      </div>
    </div>
  </div>
</div>