<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="text-center">
    <h1 class="display-1 fw-bold">Thank you!</h1>
    <p class="fs-3">Your donation will help to maintain Page.digital.</p>
    <div class="img-fluid"><iframe src="https://giphy.com/embed/26DOoDwdNGKAg6UKI" width="100%" height="100%" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
    <%= link_to 'Go to admin', pages_url, class: 'btn btn-primary' %>
  </div>
</div>
